In [1]:
import numpy as np
import pandas as pd 
import pandas
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
years=pandas.date_range(start='2022',end='2032',freq='Y')
years

DatetimeIndex(['2022-12-31', '2023-12-31', '2024-12-31', '2025-12-31',
               '2026-12-31', '2027-12-31', '2028-12-31', '2029-12-31',
               '2030-12-31', '2031-12-31'],
              dtype='datetime64[ns]', freq='A-DEC')

In [3]:
df = pd.DataFrame(index=years,columns=["Revenue", "EBITDA", "Taxes",
                           "Capital Expenditure", "Working Capital",
                           "Cash Flow", "Discount Factor",
                           "Present Value Free Cash Flow"], dtype='float')
df

,Revenue,EBITDA,Taxes,Capital Expenditure,Working Capital,Cash Flow,Discount Factor,Present Value Free Cash Flow
2022-12-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2023-12-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2024-12-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2025-12-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2026-12-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2027-12-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2028-12-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2029-12-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2030-12-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2031-12-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
# Revenue Growth Factor: 18% of prior period Revenue
df.loc['2022',"Revenue"]=222*(1+0.18)
df

,Revenue,EBITDA,Taxes,Capital Expenditure,Working Capital,Cash Flow,Discount Factor,Present Value Free Cash Flow
2022-12-31,261.96,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2023-12-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2024-12-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2025-12-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2026-12-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2027-12-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2028-12-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2029-12-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2030-12-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2031-12-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
for i in range(1,len(years)):
    df.iloc[i]["Revenue"]=df.iloc[i-1]["Revenue"]*(1+0.18)
df

,Revenue,EBITDA,Taxes,Capital Expenditure,Working Capital,Cash Flow,Discount Factor,Present Value Free Cash Flow
2022-12-31,261.960000,117.882000,-24.755220,-7.858800,-15.717600,139.100760,NaN,NaN
2023-12-31,309.112800,139.100760,-29.211160,-9.273384,-18.546768,82.069448,NaN,NaN
2024-12-31,364.753104,164.138897,-34.469168,-10.942593,-21.885186,96.841949,NaN,NaN
2025-12-31,430.408663,193.683898,-40.673619,-12.912260,-25.824520,114.273500,NaN,NaN
2026-12-31,507.882222,228.547000,-47.994870,-15.236467,-30.472933,134.842730,NaN,NaN
2027-12-31,599.301022,269.685460,-56.633947,-17.979031,-35.958061,159.114421,NaN,NaN
2028-12-31,707.175206,318.228843,-66.828057,-21.215256,-42.430512,187.755017,NaN,NaN
2029-12-31,834.466743,375.510034,-78.857107,-25.034002,-50.068005,221.550920,NaN,NaN
2030-12-31,984.670757,443.101841,-93.051387,-29.540123,-59.080245,261.430086,NaN,NaN
2031-12-31,1161.911493,522.860172,-109.800636,-34.857345,-69.714690,308.487501,NaN,NaN

In [8]:
# EBITDA Margin: 45.0% of current Revenue
# Taxes: 21% of current EDBITDA
# Capital Expenditures: 3% of current Revenue
# Working Capital Increase: 6% of Revenue

df["EBITDA"]=df["Revenue"]*0.45
df["Taxes"]=-df["EBITDA"]*0.21
df["Capital Expenditure"]=-df["Revenue"]*0.03
df["Working Capital"]=-df["Revenue"]*0.06
df["Cash Flow"]=df.drop(columns="Revenue").sum(axis=1)
df

,Revenue,EBITDA,Taxes,Capital Expenditure,Working Capital,Cash Flow,Discount Factor,Present Value Free Cash Flow
2022-12-31,261.960000,117.882000,-24.755220,-7.858800,-15.717600,139.100760,NaN,NaN
2023-12-31,309.112800,139.100760,-29.211160,-9.273384,-18.546768,82.069448,NaN,NaN
2024-12-31,364.753104,164.138897,-34.469168,-10.942593,-21.885186,96.841949,NaN,NaN
2025-12-31,430.408663,193.683898,-40.673619,-12.912260,-25.824520,114.273500,NaN,NaN
2026-12-31,507.882222,228.547000,-47.994870,-15.236467,-30.472933,134.842730,NaN,NaN
2027-12-31,599.301022,269.685460,-56.633947,-17.979031,-35.958061,159.114421,NaN,NaN
2028-12-31,707.175206,318.228843,-66.828057,-21.215256,-42.430512,187.755017,NaN,NaN
2029-12-31,834.466743,375.510034,-78.857107,-25.034002,-50.068005,221.550920,NaN,NaN
2030-12-31,984.670757,443.101841,-93.051387,-29.540123,-59.080245,261.430086,NaN,NaN
2031-12-31,1161.911493,522.860172,-109.800636,-34.857345,-69.714690,308.487501,NaN,NaN

In [10]:
df["Present Value Free Cash Flow"] = df["Cash Flow"] * df["Discount Factor"]
df

,Revenue,EBITDA,Taxes,Capital Expenditure,Working Capital,Cash Flow,Discount Factor,Present Value Free Cash Flow
2022-12-31,261.960000,117.882000,-24.755220,-7.858800,-15.717600,139.100760,NaN,NaN
2023-12-31,309.112800,139.100760,-29.211160,-9.273384,-18.546768,82.069448,NaN,NaN
2024-12-31,364.753104,164.138897,-34.469168,-10.942593,-21.885186,96.841949,NaN,NaN
2025-12-31,430.408663,193.683898,-40.673619,-12.912260,-25.824520,114.273500,NaN,NaN
2026-12-31,507.882222,228.547000,-47.994870,-15.236467,-30.472933,134.842730,NaN,NaN
2027-12-31,599.301022,269.685460,-56.633947,-17.979031,-35.958061,159.114421,NaN,NaN
2028-12-31,707.175206,318.228843,-66.828057,-21.215256,-42.430512,187.755017,NaN,NaN
2029-12-31,834.466743,375.510034,-78.857107,-25.034002,-50.068005,221.550920,NaN,NaN
2030-12-31,984.670757,443.101841,-93.051387,-29.540123,-59.080245,261.430086,NaN,NaN
2031-12-31,1161.911493,522.860172,-109.800636,-34.857345,-69.714690,308.487501,NaN,NaN

In [9]:
print(f"""Our projected Present Value of Projected Future Cash Flows are: {df["Present Value Free Cash Flow"].sum().round(0)}.
We are providing revenue guidance in 2032 to be: {round(df.iloc[-1]["Revenue"]*1.18)}.
With an estimated EBITDA around: {round(df.iloc[-1]["Revenue"]*1.18*0.45)}.

The terminal value at this time given a multiple of (3.70) and the above EBITDA for 2032, would equal: {round(df.iloc[-1]["Revenue"]*1.18*3.70)}.""")

Our projected Present Value of Projected Future Cash Flows are: 0.0.
We are providing revenue guidance in 2032 to be: 1371.
With an estimated EBITDA around: 617.

The terminal value at this time given a multiple of (3.70) and the above EBITDA for 2032, would equal: 5073.